html {
  min-height: 100%;

}

body {
  background-color: #73C1C6;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}

li {
  background-color: #fff;
  list-style-type: none;
  border-bottom: #ff0000;
  padding: 1rem 2rem 0.5rem 2rem;
  margin-top: 0.5rem;
}

.container {
  padding-top: 20px;
}

p {
  text-align: right;
  font-size: 15px;
}
